[submodule "blockly"]
	path = blockly
	url = https://github.com/rachel-fenichel/blockly.git
[submodule "scratch-blocks"]
	path = scratch-blocks
	url = https://github.com/rachel-fenichel/scratch-blocks.git
[submodule "blockly-tools"]
	path = blockly-tools
	url = https://github.com/google/blockly-tools.git
